.main__header{
	display: grid;
	place-items: center;
	height: calc(100vh - 3rem);
	width: 100vw;
	margin-top: 3rem;
}

.main__header-container{
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: space-between;
	gap: 6rem;
}

.main__header-left{
	margin-top: -3rem;
}

.main__header-left h4{
	margin-bottom: 1rem;
	font-weight: 400;
	color: var(--secondary-color-variant);
}
.main__header-left p{
	margin: 1rem 0 3.5rem;
	font-size: 1.1rem;
}

.main__header-right{
	display: grid;
	place-items: center;
	position: relative;
}

.main__header-circle{
width: 25rem;
height: 25rem;
background: linear-gradient(75deg, var(--primary-color), var(--secondary-color-variant));
position: absolute;
border-radius: 50%;

}

.main__header-image{
	position: relative;
}